@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-style: "Montserrat", sans-serif;
  --light-one: #efecec;
  --light-two: #ffffff;
  --dark-one: #252526;
  --dark-two: #1e1e1e;
  --highlight-one: rgb(247, 156, 247);
  --highlight-two: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: var(--font-style);
}
